<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="https://i.stack.imgur.com/luaq2.png" cardTitle="Título da notícia 1" cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at sollicitudin massa, eget sagittis dolor. Nam porta velit et justo euismod, sit amet accumsan urna porttitor. Pellentesque volutpat nibh est, vel fermentum dui imperdiet eu. Etiam hendrerit in nunc in blandit. Mauris massa velit, ultrices vitae suscipit eu, rhoncus congue libero. Etiam ornare urna quis neque semper gravida." ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card photoCover="https://images.pexels.com/photos/6007864/pexels-photo-6007864.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" cardDescription="Título da notícia A"></app-small-card>
        <app-small-card photoCover="https://images.pexels.com/photos/10480837/pexels-photo-10480837.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load" cardDescription="Título da notícia B"></app-small-card>
        <app-small-card photoCover="https://images.pexels.com/photos/18510468/pexels-photo-18510468/free-photo-of-agricultura-maca-arvore-de-maca-macieira.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" cardDescription="Título da notícia C"></app-small-card>
    </div>
</div>

<hr />

<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="https://images.pexels.com/photos/18514947/pexels-photo-18514947/free-photo-of-tigela-bowl-bacia-jantar.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" cardTitle="Título da Notícia 2" cardDescription="Vestibulum venenatis, ipsum vel consectetur rhoncus, felis massa laoreet purus, vitae congue nisl urna at dolor. Fusce lobortis semper ipsum, congue mattis arcu vehicula ac. Aliquam vel rutrum velit. Donec eu sapien et leo sagittis sagittis at sed massa. Nulla ut metus nec nunc porta luctus a eget justo. Suspendisse potenti. Sed egestas fringilla lacus nec semper. Pellentesque et sapien purus. Sed pharetra non nunc vel lacinia."></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card photoCover="https://images.pexels.com/photos/18282058/pexels-photo-18282058/free-photo-of-fotografia-animal-fotografia-de-animais-animais-bichos.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" cardDescription="Título da notícia D"></app-small-card>
        <app-small-card photoCover="https://images.pexels.com/photos/18523190/pexels-photo-18523190/free-photo-of-outono-declinio-folhas-foco-seletivo.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" cardDescription="Título da notícia E"></app-small-card>
        <app-small-card photoCover="https://images.pexels.com/photos/18343648/pexels-photo-18343648/free-photo-of-arte-borrao-mancha-nevoa.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" cardDescription="Título da notícia F"></app-small-card>
    </div>
</div>
